#decor{
    width: 500px;
    height: 800px;
    position: relative;

}
#nairobi{
    width: 400px;
    height: 800px;
    position: relative;
    
}
#dining{
    width: 500px;
    height: 800px;
    position: relative;
}
.events{
    display: flex;
    overflow: hidden;
    
}

.nairobi-event h1{
position: absolute;
top: 360px;
margin-left: 70px;
color: white;
font-size: 30px;
}
.nairobi-event p{
    position: absolute;
top: 390px;
margin-left: 70px;
color:rgb(247, 213, 63);
font-size: 20px;
width: 300px;
}
.nairobi-event h2{
    position: absolute;
    margin-left: 70px;
    color:rgb(248, 245, 239);
    top: 440px;
    font-size: 20px;  
}
.nairobi-event h3{
    position: absolute;
    margin-left: 70px;
    color:rgb(255, 253, 253);
    top: 470px;
    font-size: 20px      
}
.nairobi-event h4{
    position: absolute;
    margin-left: 70px;
    color:rgb(247, 244, 239);
    top: 480px;
    font-size: 20px       
}

.decor-event h1{
position: absolute;
top: 400px;
color: rgb(236, 241, 245);
margin-left: 120px;


}

.decor-event h2{
    position: absolute;
    margin-left: 120px;
    color:rgb(214, 145, 17);
    top: 450px;
    font-size: 20px;  
}
.decor-event h3{
    position: absolute;
    margin-left: 120px;
    color:rgb(252, 242, 242);
    top: 470px;
    font-size: 20px   
}
.decor-event h4{
    position: absolute;
    margin-left: 120px;
    color:rgb(255, 238, 238);
    top: 490px;
    font-size: 20px     
}
.decor-event h5 {
    position: absolute;
    margin-left: 120px;
    color:white;
    top: 500px;
    font-size: 20px      
}
.events-dining h1{
    position: absolute;
    top: 400px;
    color: aliceblue;
    margin-left: 90px;
}
.events-dining h2{
    position: absolute;
    margin-left: 90px;
    color:rgb(240, 182, 74);
    top: 450px;
    font-size: 20px;  
}
.events-dining h3{
    position: absolute;
    margin-left: 90px;
    color:rgb(255, 253, 253);
    top: 480px;
    font-size: 20px      
}
.events-dining h4{
    position: absolute;
    margin-left: 90px;
    color:rgb(247, 244, 239);
    top: 510px;
    font-size: 20px       
}
.events-dining h5{
    position: absolute;
    margin-left: 90px;
    color:white;
    top: 520px;
    font-size: 20px   
}
#logo{
    color: black;
    left: 600px;
    position: absolute;
    width: 10%;
    top: 30px;
}
@media screen and (min-width:300px) and(max-width:800px){
    #decor{
        width: 500px;
        height: 700px;
        position: relative;
    
    }
    #nairobi{
        width: 500px;
        height: 900px;
        position: relative;
        
    }
    #dining{
        width: 500px;
        height: 900px;
        position: relative;
    }
    .events{
        display: block;
        overflow: hidden;
        
    }
    
    .nairobi-event h1{
    position: absolute;
    top: 400px;
    margin-left: 170px;
    color: white;
    font-size: 40px;
    }
    .nairobi-event p{
        position: absolute;
    top: 450px;
    margin-left: 130px;
    color:rgb(221, 185, 23);
    font-size: 20px;
    width: 300px;
    }
    .nairobi-event h2{
        position: absolute;
        margin-left: 130px;
        color:rgb(248, 245, 239);
        top: 500px;
        font-size: 20px;  
    }
    .nairobi-event h3{
        position: absolute;
        margin-left: 130px;
        color:rgb(255, 253, 253);
        top: 520px;
        font-size: 20px      
    }
    .nairobi-event h4{
        position: absolute;
        margin-left: 130px;
        color:rgb(247, 244, 239);
        top: 530px;
        font-size: 20px       
    }
    
    .decor-event h1{
    position: absolute;
    top: 400px;
    color: rgb(236, 241, 245);
    margin-left: 90px;
    
    
    }
    
    .decor-event h2{
        position: absolute;
        margin-left: 90px;
        color:rgb(214, 145, 17);
        top: 450px;
        font-size: 20px;  
    }
    .decor-event h3{
        position: absolute;
        margin-left: 90px;
        color:rgb(252, 242, 242);
        top: 470px;
        font-size: 20px   
    }
    .decor-event h4{
        position: absolute;
        margin-left: 90px;
        color:rgb(255, 238, 238);
        top: 480px;
        font-size: 20px     
    }
    .decor-event h5 {
        position: absolute;
        margin-left: 90px;
        color:white;
        top: 500px;
        font-size: 20px      
    }
    .events-dining h1{
        position: absolute;
        top: 400px;
        color: aliceblue;
        margin-left: 130px;
    }
    .events-dining h2{
        position: absolute;
        margin-left: 90px;
        color:rgb(240, 182, 74);
        top: 450px;
        font-size: 20px;  
    }
    .events-dining h3{
        position: absolute;
        margin-left: 90px;
        color:rgb(255, 253, 253);
        top: 480px;
        font-size: 20px      
    }
    .events-dining h4{
        position: absolute;
        margin-left: 90px;
        color:rgb(247, 244, 239);
        top: 510px;
        font-size: 20px       
    }
    .events-dining h5{
        position: absolute;
        margin-left: 90px;
        color:white;
        top: 520px;
        font-size: 20px   
    }
    #logo{
        color: black;
        left: 600px;
        position: absolute;
        width: 10%;
        top: 30px;
    }  
}